*,body,html{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(../images/macos-monterey-wwdc-21-stock-dark-mode-5k-6016x6016-5585.jpg);
    background-position: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}
form{
    padding: 100px 0px;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.form-wraper{
    background-color: rgba(255,255,255,0.1);
    border: 1px solid rgba(255,255,255,0.1);
    backdrop-filter: blur(12px) saturate(100%) contrast(100%);
    border-radius: 15px;
    color: rgba(255,255,255,0.8);
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
.form-wraper .input-box{
    outline: none;
    padding: 20px;
    color: white;
    font: 20px 'Poppins',sans-serif;
    font-weight: 300;
    background: transparent;
    border-radius: 10px;
    margin-bottom: 2px;
    border: 0.5px solid rgba(255,255,255,0.1);
}
.form-wraper .input-box:focus{
    outline: none;
    color: white;
    font: 20px 'Poppins',sans-serif;
    font-weight: 300;
    background-color: rgba(255,255,255,0.1);
    border-radius: 10px;
    margin-bottom: 2px;
    border: 0.5px solid rgba(255,255,255,0.1);
}
.form-wraper .select-box{
    outline: none;
    padding: 20px;
    color: white;
    font: 20px 'Poppins',sans-serif;
    font-weight: 300;
    background: transparent;
    border-radius: 10px;
    margin-bottom: 2px;
    border: 0.5px solid rgba(255,255,255,0.1);
}

.select-box:focus{
    outline: none;
    color: white;
    font: 20px 'Poppins',sans-serif;
    font-weight: 300;
    background-color: rgb(52 10 131);
    border-radius: 10px;
    margin-bottom: 2px;
    border: 0.5px solid rgba(255,255,255,0.1);
}

.form-wraper input::placeholder{
    color: white;
    font-weight: 300;
}

.sub-btn{
    display: inline-block;
    padding: 24px 32px;
    border: none;
    text-decoration: none;
    border-radius: 15px;
    background-color: rgba(255,255,255,0.1);
    border: 1px solid rgba(255,255,255,0.1);
    backdrop-filter: blur(30px);
    color: rgba(255,255,255,0.8);
    font: 18px 'Poppins',sans-serif;
    font-weight: 500;
    letter-spacing: 2px;
    cursor: pointer;
    text-transform: uppercase;
}

.sub-btn:hover {
       background-color: rgba(255,255,255,0.2);
  }
  .checkbox-wraper{
      display: block;
      border:1px solid rgba(255,255,255,0.1);
      padding-top: 20px;
      padding-left: 20px;
      padding-bottom: 20px;
      margin-bottom: 20px;
  }
  .check-label{
      font: 20px 'Poppins',Arial,sans-serif;
  }
  input[type="checkbox"]{
    width: 30px;
    height: 20px;
    border: none;
    outline: none;
    margin-right: 20px;
  }

  
  .radio-wraper{
     border:1px solid rgba(255,255,255,0.1);
      padding-top: 20px;
      padding-left: 20px;
      padding-bottom: 20px;
      margin-bottom: 20px;
  }
  .radio-label{
    font: 20px 'Poppins',Arial,sans-serif;
  }
  .radio-btn{
    width: 20px;
    height: 20px;
    border: none;
    outline: none;
    margin-right: 20px;
  }



















  .msg{
    font-size: 14px;
    font-family: 'Poppins',sans-serif;
    color: #ff2424;
    font-weight: 600;
    padding-left: 20px;
    padding-bottom: 20px;
  }
